status.html
.metadata
test-output
test-results
dependency-reduced-pom.xml
logs
/data
pulsar-broker/tmp.*
pulsar-broker/src/test/resources/log4j.properties
*.log

*.versionsBackup
*/bin

# Eclipse
.classpath
.project
.settings/
.recommenders/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Python
*.pyc

# Perf tools
*.hgrm

# tmp files
*.pid

# Generated website
generated-site/
