apiVersion: 1

providers:
- name: 'default'
  orgId: 1
  folder: ''
  type: file
  disableDeletion: false
  updateIntervalSeconds: 60  # how often Grafana will scan for changed dashboards
  options:
    path: /var/lib/grafana/dashboards
