# Website artifacts
.jekyll-metadata
.bundle/
node_modules/
vendor/
api/admin/
api/client/
generated/
.sass-cache
_data/config/*.bak
_data/admin-rest-api-swagger.json
scripts/protoc-gen-doc
scripts/doxygen
