# Website artifacts
.jekyll-metadata
.bundle/
node_modules/
vendor/
api/
generated/
.sass-cache
_data/config/*.bak
_data/admin-rest-api-swagger.json
_data/protobuf.json
scripts/doxygen
scripts/htmltest-*
