@mixin admon($main-color) {
  padding: 20px;
  background-color: lighten($main-color, 25%);
  color: darken($main-color, 30%);
  border-radius: 5px;

  span.admonition-title {
    p {
      font-size: 24px;
    }

    color: darken($main-color, 30%);

    & + p {
      margin-top: 15px;
    }
  }

  a {
    color: darken($main-color, 20%);
  }
}

.admonition {
  margin: 25px 0;
  padding: 0;

  p {
    margin: 0;

    & + p {
      margin-top: 15px;
    }
  }

  ul {
    margin-left: 20px;

    li {
      font-size: 20px;
    }
  }

  .info {
    @include admon($brand-info);
  }

  .warning {
    @include admon($brand-warning);
  }

  .danger {
    @include admon($brand-danger);
  }

  .success {
    @include admon($brand-success);
  }
}
