/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import "variables";

$padding-base: 18px;

.cli, .cli-command, .cli-subcommand {
  padding: $padding-base;
}

span.options {
  color: $sx-orange;
}

span.command {
  color: $pulsar-blue;
}

.cli {
  & + .cli {
    margin-top: $padding-base;
  }

  .card + .card {
    margin-top: $padding-base;
  }

  h2, h3, h4 {
    code {
      padding: 0;
    }
  }

  code.flag {
    color: $pulsar-dark-blue;
  }

  h2, h3, h4 {
    & + .card-content {
      margin-top: $padding-base;
    }
  }

  h5 {
    margin-top: $padding-base;

    & + .highlighter-rouge {
      margin-top: $padding-base * 0.75;
    }

    & + table {
      margin-top: $padding-base * 0.75;
    }

    & + p {
      margin-top: $padding-base;
    }
  }

  h2 code, h3 code, h4 code {
    background-color: white;
  }

  table {
    width: 100%;
    text-align: left;
    padding: 20px;

    thead {
      tr {
        th {
          font-size: 18px;
        }
      }
    }

    tbody {
      tr {
        vertical-align: middle;

        td {
          font-size: 14px;
          margin: 5px 0;
          padding: 5px 20px 5px 0;

          p {
            padding: 0;
            margin: 0;
          }
        }

        & + tr {
          border-top: 1px solid #ddd;
        }
      }

      tr + tr {
        border-top: 1px solid #ddd;
      }
    }
  }
}
