/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
nav.navbar {
  background-color: white;

  .navbar-brand {
    padding: 0px;
    &  > img {
      max-height: 100%;
      width: auto;
    }
  }

  img {
    &.main-logo {
      height: 40px;
    }

    &.asf-logo {
      height: 80px;
      margin-left: 40px;
      padding-right: 20px;
    }
  }

  li.nav-item {
    a.nav-link {
      color: $pulsar-blue;

      &:hover, &:active {
        color: $pulsar-blue;
      }
    }
  }

  /*
  .collapse {
    margin: 8px 0 8px 100px;

    ul.navbar-nav {
      li.nav-item + li.nav-item {
        margin-left: 15px;
      }
    }
  }

  a.dropdown-item {
    font-size: 14px;

    span.badge {
      margin-left: 2rem;
    }
  }

  ul.navbar-nav {
    li {
      font-size: 18px;
    }
  }
  */
}
