nav.navbar {
  background-color: white;
  //width: auto;
  //margin-left: 50px;
  //margin-right: 30px;

  .navbar-brand {
    padding: 0px;
    &  > img {
      max-height: 100%;
      width: auto;
    }
  }

  img {
    &.main-logo {
      height: 40px;
    }

    &.asf-logo {
      height: 80px;
      margin-left: 40px;
      padding-right: 20px;
    }
  }

  li.nav-item {
    a.nav-link {
      color: $pulsar-blue;

      &:hover, &:active {
        color: $pulsar-blue;
      }
    }
  }

  /*
  .collapse {
    margin: 8px 0 8px 100px;

    ul.navbar-nav {
      li.nav-item + li.nav-item {
        margin-left: 15px;
      }
    }
  }

  a.dropdown-item {
    font-size: 14px;

    span.badge {
      margin-left: 2rem;
    }
  }

  ul.navbar-nav {
    li {
      font-size: 18px;
    }
  }
  */
}