aside.sidebar-nav {
  position: fixed;
  overflow-y: scroll;
  
  #sidebar-accordion {
    width: 100%;

    .card {
      border: none;

      .card-header {
        background-color: white;
        border: none;
        
        h5 {
          margin-bottom: 0;

          a {
            color: darken(#999, 30%);
          }

          a:hover, a:visited, a:active, a:focus {
            text-decoration: none;
          }
        }
      }

      .sidebar-group {
        ul {
          margin: 0 0 0 .7rem;

          li {
            margin-left: .75rem;
            list-style-type: none;
            padding: .3rem 0 .3rem 1rem;
            border-left: 2px solid $pulsar-blue;

            &.active {
              border-left: 4px solid $brand-secondary;

              a {
                color: $pulsar-magenta;
              }
            }

            a {
              color: black;
            
              &:hover {
                color: purple;
              }

              &:hover, &:visited, &:active, &:focus {
                text-decoration: none;
              }
            }

            & + li {
              margin-top: .2rem;
            }
          }
        }
      }
    }
  }
}