@import "variables";

p code {
  white-space: nowrap;
}

.highlight, li .highlight {
  color: $sx-light-gray;
  background-color: $sx-bg-color;
  border-radius: $sx-border-radius;
  border: $sx-border;
  overflow: $sx-overflow;

  .language-shell .highlight {
    .nb {
      color: $sx-light-gray;
    }
  }

  .w {
    color: $sx-light-gray;
    background-color: $sx-bg-color;
  }

  .n {
    color: $sx-red;
  }

  .err {
    color: #002b36;
    background-color: #dc322f;
  }

  .c, .cd, .cm, .c1, .cs {
    color: $sx-comment;
  }

  .gp {
    color: $sx-red;
  }

  .cp {
    color: $sx-orange;
  }

  .nd {
    color: $sx-purple;
  }

  .nt {
    color: $sx-orange;
  }

  .o {
    color: $sx-orange;
  }

  .ow {
    color: $sx-dark-gray;
  }

  .p, .pi {
    color: $sx-dark-gray;
  }

  .bp {
    color: $sx-dark-gray;
  }

  .gi {
    color: $sx-olive;
  }

  .gd {
    color: #dc322f;
  }

  .gh {
    color: $sx-7;
    background-color: $sx-bg-color;
    font-weight: bold;
  }

  .k, .kn, .kp, .kr, .kv {
    color: $sx-purple;
  }

  .kc {
    color: $sx-red;
  }

  .kt { // Java: lower-case type name
    color: $sx-purple;
  }

  .kd {
    color: $sx-magenta;
  }

  .s, .sb, .sc, .sd, .s2, .sh, .sx, .s1 {
    color: $sx-olive;
  }

  .sr {
    color: #2aa198;
  }

  .si, .se {
    color: $sx-magenta;
  }

  .nn {
    color: $sx-orange;
  }

  .nf {
    color: $sx-purple;
  }

  .nc, .nb {
    color: $sx-orange;
  }

  .no {
    color: $sx-orange;
  }

  .na {
    color: $sx-7;
  }

  .m, .il, .mo, .mb, .mx {
    color: $sx-olive;
  }

  .mi, .mf, .mh { // Java: numbers and bytes
    color: $sx-orange;
  }

  .ss {
    color: $sx-olive;
  }
}
