[Unit]
Description=Apache Pulsar broker
After=network.target

[Service]
User=pulsar
Group=pulsar
ExecStart=/usr/lib/pulsar/bin/pulsar broker
Restart=on-failure

[Install]
WantedBy=multi-user.target
