<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
{% extends "stats/base.html" %}

{% load humanize %}
{% load stats_extras %}
{% block extrahead %}
{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
{% endblock %}

{% block title %}Topic | {{topic.name}}{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'home' %}">Home</a>
    &rsaquo; <a href="{% url 'property' topic.namespace.property.name %}">{{ topic.namespace.property }}</a>
    &rsaquo; <a href="{% url 'namespace' topic.namespace.name %}">{{ topic.namespace.name }}</a>
    &rsaquo; <a href="{% url 'topic' topic.url_name %}">{{ topic.short_name }}</a>
    &rsaquo; {{ subscription.name }}
</div>
{% endblock %}

{% block content %}
<form id="view-message-form" method="get" action="{% url 'messages' topic.url_name subscription.name %}">
    <label for="message-position">Total <span class="em">{{subscription.msgBacklog}}</span> messages in backlog, view Message:</label>
 <input name="message-position"
        id="message-position"
        value="{{ position }}"
        type="number"
        min="1" max="{{subscription.msgBacklog}}"/>
</form>

{% if message %}
<script>
function init_message_tab(id) {
    function activeTab(tab) {
        tab.addClass('active');
        $("#message-" + tab.attr('id')).show();
    }
    let tabId = "#message-tab-" + id;
    let tabSel = tabId + " .tab span";
    let tabContentSel = tabId + " .tab-content";
    let firstTab = $(tabSel).eq(0);
    if (id === 0) {
        activeTab(firstTab);
    }
    $(tabSel).bind('click', function(){
        $(tabSel).removeClass('active');
        $(tabContentSel).hide();
        activeTab($(this))
    });
}
$(function () {
    for (let i = 0; i < {{ message | length }}; ++i) {
        init_message_tab(i)
    }
})
</script>

{% for msg in message %}
<div id="message-tab-{{ forloop.counter0 }}" class="message">
  <div class="tab clearfix message-title">
{% for type in msg.keys %}
    {% with tab_key=type|lower|cut:':' %}
    <span id="tab-{{tab_key}}-{{forloop.parentloop.counter0}}"{% if type == 'ERROR' %} class="warn"{% endif %}>{{type}}</span>
    {% endwith %}
{% endfor %}
  </div>
{% for type, content in msg.items %}
  {% with tab_key=type|lower|cut:':' %}
  <div class="tab-content autoscroll message-content" id="message-tab-{{ tab_key }}-{{ forloop.parentloop.counter0 }}">
    <pre>{{content}}</pre>
  </div>
  {% endwith %}
{% endfor %}
</div>

{% endfor %}

{% endif %}
{% endblock %}
