/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.topic {
  color: #bcc5c5;
  background-color: #232937;
  font-size: 1.25rem;
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  padding: .5rem 0 .5rem 1rem;
  border-radius: 0;
}

.tenant-color {
  color: #b1cc00;
}

/* header navigation */
.fixedHeaderContainer {
  background-color: white;
}

.navigationSlider .slidingNav ul li a {
  color: #188fff;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive a, 
.navigationSlider .slidingNav ul li.siteNavItemActive a, 
.navigationSlider .slidingNav ul li a:focus, 
.navigationSlider .slidingNav ul li a:hover {
  background: white;
  color: #188fff;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a {
  background: #188fff;
  color: white;
}


/* header navigation */

/* for versioning */
.fixedHeaderContainer header h3 {
  color: #188fff;
}


/* for drop down menus */
#community-dropdown.hide,
#apache-dropdown.hide,
#restapis-dropdown.hide,
#languages-dropdown.hide {
  display: none;
}


#community-dropdown.visible,
#apache-dropdown.visible,
#restapis-dropdown.visible,
#languages-dropdown.visible {
  display: flex;
}

#community-dropdown,
#apache-dropdown,
#restapis-dropdown,
#languages-dropdown {
  pointer-events: none;
  position: absolute;
  width: 100%;
}

#community-dropdown-items,
#apache-dropdown-items,
#restapis-dropdown-items,
#languages-dropdown-items {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 120px;
  pointer-events: all;
  border: 1px solid rgba(35, 41, 55, 0.15);
  border-radius: 0.25rem;
}


