<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body class="body">
    <main class="main">
      {% include navbar.html %}

      <main>
        {{ content }}
      </main>
    </main>

    {% include footer.html %}

    {% if page.mathjax %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        },
        "HTML-CSS": { scale: 125 }
      });

      MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i = 0; i < all.length; i += 1) {
          all[i].SourceElement().parentNode.className += ' has-jax';
        }
      });
    </script>

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
  </body>
</html>
