---
layout: default
---

<div class="rest-api-container container-fluid">
  <div class="row">
    <nav class="sidebar-nav hidden-sm-down col-md-2 col-lg-3">
      {% include sidebar.html %}
    </nav>

    <article class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
      <section class="docs-header">
        <h1 class="docs-title">{{ page.title }}</h1>
        {% if page.lead %}<span class="docs-lead">{{ page.lead }}</span>{% endif %}
        <hr />
      </section>

      <section class="content">
        {{ content }}
      </section>
    </article>
  </div>
</div>
