/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.tailwind {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @tailwind screens;
}

.tailwind .section {
  @apply max-w-screen-xl container mx-auto;
}

@layer base {
  h1, h2 {
   margin-bottom: 2rem;
  }
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
  }
  h4 {
    margin-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: 500;
  }
  strong {
    font-weight: bold;
  }
  p {
    margin-bottom: 1.5rem;
  }
  /* ... */
}

svg {
  width: inherit;
  height: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600&display=swap');

:root {
  --ifm-font-family-base: 'Red Hat Display';
  --ifm-font-size-base : 20px;
  --ifm-color-primary: #198fff;
  --ifm-color-primary-dark: #1379da;
  --ifm-color-primary-darker: #0e65b6;
  --ifm-color-primary-darkest: #084a88;
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-container-width: 1280px;
  --ifm-container-width-xl: 1536px;
  --ifm-navbar-background-color : #E6F1FF;
  --ifm-navbar-link-color : #198fff;
  --ifm-navbar-shadow: none; 
  --ifm-footer-background-color: #464E56;
  --ifm-hero-background-color: #e6f1ff;
  --bg-dark-grey: #464E56;
  --ifm-h1-font-size : 2rem;
}

a, .tailwind a {
  color: var(--ifm-color-primary);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover, .tailwind a:hover {
  color: var(--ifm-color-primary-darker)
}
table tr {
  background-color: #f0f0f0;
}
.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html {background-color: #E6F1FF;}
html[data-theme="dark"] {background-color: #18191a;}
html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}


/* GENERAL */
/* general positioning */

.right {float: right;}
.left {float: left;}
.float50 {
  float: left;
  width: 50%;
}
.float66 {
  float: left;
  width: 66.66%;
}
.float33 {
  float: left;
  width: 33.33%;
}
/* micro clearfix below. contains floats like .clearfix. */
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }

/* need to clear floats instead of contain them? use this below. */
.clear, .clear-both { clear: both; }

/* typography */
.text-big {
  font-size: 2.5rem;
  letter-spacing: 1.2px;
  font-weight: bold;
  line-height: 1.2em;
}
.bg-dark-blue {
  color: #fff;
}


.mdx-wrapper.mdx-page .container{max-width: 880px;}
.main-wrapper:not(.docs-doc-page):not(.mdx-page) blockquote {
  font-size: 24px;
  line-height: 1.5em;
  padding-left: 75px;
  padding-right: 75px;
  position: relative;
}
.main-wrapper:not(.docs-doc-page):not(.mdx-page) blockquote::before, .main-wrapper:not(.docs-doc-page):not(.mdx-page)blockquote::after {
  width: 124px;
  height: 100px;
  background-size: cover;
  opacity: .3;
}
.main-wrapper:not(.docs-doc-page):not(.mdx-page) blockquote::before {
  content:'';
  background-image:url('../../static/img/left-double-quotes.svg');
  position: absolute;
  left:0;
  top:0;
  transform: translateY(-30px);
}
.main-wrapper:not(.docs-doc-page):not(.mdx-page) blockquote::after {
  content:'';
  background-image:url('../../static/img/right-double-quotes.svg');
  position: absolute;
  right:0;
  bottom:0;
  transform: translateY(30px);
}
/* HEADER */
.navbar.navbar--fixed-top {
  position: relative;
}
.navbar__inner {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar__item.navbar__link, .navbar__link{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

/* LAYOUT */
.page-wrap {
  position: relative;
  overflow: hidden;
}

.inner {
  max-width: 1200px; 
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.inner.inner--narrow {
  max-width: 880px;
}
.home-hero {
  overflow: hidden;
}

.hero {
  background-color: transparent;
}

/* WAVES WRAPPER */
#waves-wrapper {
  width: 100%;
  height: 100px;
  position: relative;
  left: 30%;
  top: 50px;
  opacity: 0;
  transition: opacity 3s ease;
}
#waves-wrapper.show-waves {
  opacity: 1;
}

#waves-wrapper::before {
  content: '';
  width: 0%;
  height: 4px;
  background-color: #198fff;
  right: 100%;
  display: block;
  position: absolute;
  top: -2px;
}

#waves-wrapper.show-waves::before {
  width: 100%;
}

#waves {
  position: absolute;
  z-index: 0;
  top: 0;
  transform: translateY(-50%);
}
.waves-bg {
  position: relative;
}
.docs-wrapper.docs-doc-page {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 24rem;
  margin-bottom: 12rem;
}
.waves-bg:before,.waves-bg:after,.mdx-wrapper.mdx-page:after, .blog-wrapper.blog-list-page:after {
  z-index: 0;
  content: '';
  position: absolute; 
  top:0; 
  left:0;
  width: 100%;
  height: 50vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('../../static/img/feature-waves-top.png');
  max-height: 600px;
}
.blog-wrapper.blog-list-page:after {
  top: 200px;
}
.mdx-page header {
  position: relative;
  padding: 50px 0 120px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.mdx-page header:after{
  z-index: 0;
  content: '';
  position: absolute; 
  top:50%; 
  left:calc(-1 * ((100vw - 840px)/2));
  width: 100vw;
  height: 50vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('../../static/img/feature-waves-top.png');
  max-height: 600px;
}
.mdx-wrapper.mdx-page:after {
  background-image: url('../../static/img/feature-waves-btm.png');
  top: auto;
}
.main-wrapper.mdx-wrapper.mdx-page {position: relative; padding-bottom: 200px; margin-bottom: 100px;}
.docs-wrapper.docs-doc-page:after {
  z-index: 0;
  content: '';
  position: absolute; 
  width: 100%;
  height: 50vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-height: 600px;
}
.waves-bg:after, .docs-wrapper.docs-doc-page:after,.main-wrapper.mdx-wrapper.mdx-page:after {
  top:auto; 
  bottom: 0;
  left:0;
  background-image: url('../../static/img/feature-waves-btm.png');
}

.quote-name::before {
  content:'';
  width: 100px; 
  height: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #6c93a7;

}
/* PROMO CALLOUT */
.promo {
  border: 1px solid #18191a;
}

.navbar__item.navbar__link {
  padding-bottom: 0;
}

/* PILL BUTTON */
 .pill-btn, article .tag_node_modules-\@docusaurus-theme-classic-lib-next-theme-Tag-styles-module {
   background-color: var(--ifm-color-primary);
   color: #fff !important;
   padding: 10px 20px;
   border-radius: 9999px;
   font-size: 16px;
   text-transform: uppercase;
   font-weight: bold;
   height: auto;
   display: inline-block;
   margin-right: 10px; margin-bottom: 10px;
}

.pill-btn.grey {
  background-color: #464E56;
}

.pill-btn.white-outline {
  background-color: transparent;
  border: 2px solid #fff;
}
.pill-btn.outline {
  background-color: transparent;
  border:2px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary) !important;
}
article .tag_node_modules-\@docusaurus-theme-classic-lib-next-theme-Tag-styles-module {
  background-color: transparent;
  border: 2px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary) !important;
  padding: 5px 10px;
}
.tailwind .pill-btn svg {
  font-size: 20px;
  display: inline-block;
  margin: 0 5px;
}

.pill-btn:hover {
  background-color: var(--ifm-color-primary-darker);
}
.pill-btn.grey:hover {
  background-color: #22272b;
}
.pill-btn.white-outline:hover {
  background-color: #fff;
  color: #464E56;
  border: 2px solid #fff;
}
.pill-btn.outline:hover {color: #fff;}
article .tag_node_modules-\@docusaurus-theme-classic-lib-next-theme-Tag-styles-module:hover {
  background-color: transparent;
  color: #fff !important;
  background-color:  var(--ifm-color-primary);
}

.tailwind .secondary-cta, .TabsUnstyled-horizontal button, .blog-wrapper article footer .col.text--right a{
  font-weight: bold;
  color: var(--ifm-footer-background-color);
  z-index: 1;
  position: relative;
  padding: 0 5px;
}
.TabsUnstyled-horizontal button {font-size: 1.3rem;}
.tailwind .secondary-cta.secondary-cta--small {
  font-size: .8rem;
}

.tailwind .secondary-cta:hover, .TabsUnstyled-horizontal button:hover , .TabsUnstyled-horizontal button.Mui-selected, article .blog-wrapper article footer .col.text--right a:hover {
  color: #fff;
}
.secondary-cta:before, .TabsUnstyled-horizontal button:before, .blog-wrapper article footer .col.text--right a:before {
  content: "";
  font-weight: 700;
  position: absolute;
  bottom: 3px;
  height: 6px;
  left: 0;
  width: 100%;
  background: var(--ifm-color-primary);
  z-index: -1;
  transition: all 0.3s ease;
}
.secondary-cta.secondary-cta--small:before {
  height: 4px;
  bottom: 5px;
}
.secondary-cta:hover:before, .TabsUnstyled-horizontal button:hover:before, .TabsUnstyled-horizontal button.Mui-selected:before, .blog-wrapper article footer .col.text--right a:hover:before{
  height: 100%;
  bottom: 0;
}

.icon-feature {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s ease-in-out;
}

.icon-feature.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.cs-logo {
  height: 60px;
  text-align: center;
}

.cs-logo svg{
  max-height: 100%;
}

.resource-cards {
  min-height: 500px;
}
.resource-card {
  overflow: hidden;
}
.resource-card:before, .blog-list-page article.margin-bottom--xl:before, .blog-tags-post-list-page article.margin-bottom--xl::before {
  content:'';
  position: absolute;
  left:0; 
  top:8px;
  width: 100%;
  height: 100%;
  background-image: url('../../static/img/static-waves.svg');
  z-index: 0;
  opacity: .3;
  background-size: 130%;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.resource-card .secondary-cta {
  align-self: flex-start;
  margin-top: auto;
}
.resource-card h4 {
  font-size: .6rem;
}
.resource-card h3 {
  font-size: 1rem;
}

.resource-card h5, article .blogPostData_node_modules-\@docusaurus-theme-classic-lib-next-theme-BlogPostItem-styles-module, .featured-card h4 {
  color: #a6c3d3;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
}

article .blogPostData_node_modules-\@docusaurus-theme-classic-lib-next-theme-BlogPostItem-styles-module {
  font-weight: bold; 
  font-style: 12px !important;
  margin-top: 0px !important;
}

.resource-card p {
  font-size: 16px;
  line-height: 1.2em;
}

.resource-card__icon svg {
  display: inline-block;
  font-size: 60px;
  fill: #6a91a5;
}

/* EVENTs */
.featured-card {transform: translateY(-2rem);}
.featured-card--inner {
  background-color: rgba(255,255,255,0.9);
}
.tailwind .featured-card h2 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.featured-card h4 {
  font-weight: bold;
}

/* DOCS */

.menu__link {
  font-size: 16px;
}

.docMainContainer_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocPage-styles-module {
  z-index: 1;
}

/* BLOG */
.blog-list-page article.margin-bottom--xl, .blog-tags-post-list-page article.margin-bottom--xl{
  padding: 40px; 
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-bottom: 40px !important;
  position: relative;
  overflow: hidden;
}

.blog-list-page article h2, .blog-tags-post-list-page article h2{
  font-size: 24px; 
  border-radius: 8px;
  background-color: #fff;
}

/* Community */
.discussion-box {flex-basis: auto;}
.tailwind .team-member p {font-size: 16px;}
.slanted-separator {
  color: #999;
}
.image-bg-container, .featured-card {
 background-image:url('../../static/img/image-bg-6.svg');
 background-size: 100% 100%;
 background-repeat: no-repeat;
}
.image-bg-container img {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.hero-bg {
  width: 100%;
}
.hero-bg img {
  opacity: .08;
  filter: blur(1px);
  width: 100%;
}
.hero-bg:after {
  content:'';
  height: 15vw;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(rgba(255,255,255, 0), #e6f1ff);
}

.icon-wrap {height: 100px; font-size: 40px;}
.icon-wrap img {
  max-height: 100%;
  max-width: 200px;
}
.icon-wrap-icon {height: auto !important; width: 150px !important; fill: #198fff !important; max-height: 100% !important;}
.section-icon img {width: 100%;}

/* BLOG */
.blog-list-page article footer.docusaurus-mt-lg {margin-right: 30px;}
.blog-wrapper.blog-list-page .container {position: relative; z-index: 1;}
.blog-wrapper.blog-list-page::before {
  content: 'Pulsar Blog';
  position: relative;
  padding: 100px 20px;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  display: block;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto; 
}
.blog-wrapper footer.row {
  display: block;
}
.blog-wrapper footer.row .col {
  width: 100% !important;
  display: block;
}
.blog-wrapper footer.row .col.text--right {
  text-align: left;
}
.blog-wrapper article header, .blog-wrapper article .markdown, .blog-wrapper article footer {
  position: relative;
}
/* markdown modules */
.block-link-wrapper {
  display: flex;
}
.block-link {
  background-color: #fff;
  border-radius: 5px;
  height: 200px;
  box-shadow: 5px 5px 10px rgba(106, 117, 218, 0.15);
}


/* FOOTER */
footer .container {
  position: relative;
  display: block;
}
footer .footer__bottom:before{
  content: " "; display: table;
}
footer .footer__bottom:after{
  clear: both;
}

.footer__items {
  display: flex;
}
.footer__link-item  {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
.footer__link-item svg {  
  display: none;
}
footer .margin-bottom--sm {
  position: absolute;
  left: 20px; 
  top: 0;
  text-align: left;
}
footer .margin-bottom--sm a {
  opacity: 1 !important;
}
.footer__logo {
  margin-top: 0px;
}

footer .footer__copyright {
  float: right;
  width: 66.66%;
  text-align: left;
  font-size: .8rem;
}
.footer__col .footer__title {
  display: none;
}
footer .row.footer__links {
  position: relative;
  padding-left: 33.33%;
  text-align: left;
  margin-bottom: 20px;
  display: block;
}
.footer__links .footer__col:first-child .footer__items {
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1028){
  
}

@media (max-width: 880px){
  .full-880 {
    width: 800px;
    float: none;
  }
  .mdx-page header:after {
    left: -20px;
  }
  .main-wrapper:not(.docs-doc-page):not(.mdx-page) blockquote {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px){
  :root{
    --ifm-font-size-base : 16px;
  }
  footer .row.footer__links {
    padding-left: 0;
    top: 50px;
  }
  footer .footer__copyright {
    float: none;
    width: 100%;
  }
}

@media (max-width: 640px){

}
